/*
|--------------------------------------------------------------------------
| Index
|--------------------------------------------------------------------------
|
| - General
| - Typography
| - Header
| - Sections
| - Cases
| - Navbar
| - Gallery
| - Timeline
| - Other
|
*/

/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

body {
	background: #1d1e24;
	color: #aeb0b8;
}

/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fcfcfc;
}

.title__separate::before {
	background-color: #0d86ff;
}

.overhead {
	color: #aeb0b8;
}

.block-quote__author::before {
	background-color: #aeb0b8;
}

iframe {
	background-color: #5e6e80;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/

.header__left::before {
	background-color: #33363d;
}
.header__photo {
	background-color: #23262b;
	border-color: #23262b;
}
.header__social a {
	color: #93959c;
}
.header__social a:hover {
	color: #0d86ff;
}
.header__contact {
	color: #fcfcfc;
}

/*
|--------------------------------------------------------------------------
| Sections
|--------------------------------------------------------------------------
*/

.box {
	background-color: #23262b;
	box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.07);
}
.box__border {
	border-color: #33363d;
}

.social__link {
	color: #fcfcfc;
}

/*
|--------------------------------------------------------------------------
| Cases
|--------------------------------------------------------------------------
*/

.case-item {
	border-color: #33363d;
}

/*
|--------------------------------------------------------------------------
| Navbar
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 991px) {
	.sidebar {
		border-color: #33363d;
	}
}
@media only screen and (max-width: 580px) {
	.sidebar {
		box-shadow: 0px 20px 40px rgba(103, 118, 128, 0.2);
	}
}

.nav__item a {
	background-color: #2e2f36;
	color: #aeb0b8;
}
.nav__item a:hover {
	color: #0d86ff;
}
@media only screen and (max-width: 580px) {
	.nav__item a {
		background-color: transparent;
	}
}
.nav__item a.active {
	background-color: #0d86ff;
	color: #fcfcfc;
}
.nav__item a.active:hover {
	color: #fcfcfc;
}
@media only screen and (max-width: 580px) {
	.nav__item a.active {
		background-color: transparent;
		box-shadow: none;
		color: #0d86ff;
	}
	.nav__item a.active:hover {
		color: #0d86ff;
	}
	.nav__item a.active::before {
		background-color: #0d86ff;
	}
}

/*
|--------------------------------------------------------------------------
| Gallery
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 769px) {
	.filter__item::before {
		background-color: #aeb0b8;
	}
	.filter__item a {
		color: rgba(174, 176, 184, 0.8);
	}
	.filter__item.active a {
		color: #fcfcfc;
	}
}
@media only screen and (max-width: 768px) {
	.select {
		background-color: #2e2f36;
	}
	.select ul {
		background-color: #2e2f36;
		box-shadow: 0 0.625rem 3.75rem rgba(0, 0, 0, 0.5);
	}
	.select ul li {
		color: #aeb0b8;
	}
	.select ul li:hover {
		background-color: #0d86ff;
	}
	.select ul li:hover a {
		color: #fcfcfc;
	}
	.select ul li a {
		color: #aeb0b8;
	}
}

/*
|--------------------------------------------------------------------------
| Timeline
|--------------------------------------------------------------------------
*/

.timeline__item {
	border-color: #33363d;
}
.timeline__item::before {
	background-color: #0d86ff;
	box-shadow: 0 0 0 0.1875rem rgba(13, 134, 255, 0.25);
}
.timeline__period {
	color: rgba(174, 176, 184, 0.7);
}

/*
|--------------------------------------------------------------------------
| Other
|--------------------------------------------------------------------------
*/

.medium-zoom-overlay {
	background: #1d1e24 !important;
}
